<h1>Blog</h1>

  <%= @blogs.count  %> blogs
  <div class="row">
    <div class="ccol-9 col-sm-10 col-md-10 col-lg-11 col-xl-11">
      <% @blogs.each do |b| %>
      <div class="card" >
    <div class="card-body">
      <a class="card-title"><%= b.title %></a>
      <h6 class="card-subtitle mb-2 text-muted"><%=b.user_id %></h6>
      <p class="card-text"><%= b.body %></p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
    <% end %>
    </div>
  </div>
