<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%= @blog.title %>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%= @blog.user.name %></h6>
        <div class="card-body"><%= @blog.body %></div>
      </div>
  </div>
</div>
  <div class="cold-md-12">
    <div class="card">
      <div class="card-header">
        Comments
      </div>
      <% @blog.comments.each do |comment | %>
      <div class="card-body">
        <h4 class="card-title"><%= comment.body %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%comment.user.name %></h6>
      </div>
      <% end %>

  </div>
</div>
</div>
