<% provide(:title,"About") %>
<h1>Group:1312801</h1>
  <%= image_tag("dinhvan.jpg", :alt => "Anh dai dien", :size => "350x400", :class => "img") %>

<h2>Thành viên</h2>
<p><center> 1312801 Nguyễn Ngọc Đình Văn</center></p>
