<div class="jumbotron">
  <h1 class="display-3">WECOME TO FASTMAIL</h1>
  <p class="lead">This is the website where u can write blog and have you album upload here.</p>


    <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
