<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Welcome to FastMail</h1>
      <hr>
      <p>FastMail is the place you can write blog and upload images</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</header>
