<h1>Album</h1>
<% @galleries.each do |gallery| %>
  <div class="col-sm-4">
<div class="card">
    <div class="card-body">
<li>
<%= link_to "#{gallery.name}",gallery_path(gallery) %>
</li>
</div>
</div>
</div>
<% end %>
<%= link_to "Create Album",new_gallery_path%>
