// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#Blogbutton2 {
  margin-left: 15px;
}
#cau1
{
  padding-left: 325px;
}
#form1{
	text-align:left
}
#form2{
	text-align:left
}
#submitform{
	text-align:left
}
