// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#Blogbutton2 {
  margin-left: 15px;
}
#cau1
{
  padding-left: 325px;
}
#form1{
	text-align:left
}
#form2{
	text-align:left
}
#submitform{
	text-align:left
}
.timestamp{
  margin-top: 5px;
  color: black;
}
.name{

}
.gravatar{
  width: 120px;
margin-bottom: 10px;
}
.body{
  width: 250px;
  word-wrap: break-word;
}
#blog2{
  margin-bottom: 10px;
}
.button1{
  margin-top: 20px;
}

#commentShow{
  margin-top: 10px;
  margin-bottom: 10px;
}
