.img {
  display: block;
margin-left: auto;
margin-right: auto;
}
#homeHeading {
  padding-bottom: 100px;
}
.center.jumbotron {
  background-image: url("845124.png");
  height: 100vh;
    color: #777;
    font-size: 150%
}
#123  {
  font-size: 200%
}
